$black: #000;
$white: #fff;
$nav-height-wide-screen: 75px;
$logo-width: 165px;
$body-background: #f4f6fd;
$tags-background: #f4f6fd;
$form-background: #e6e9f4;
$form-border: #1976d2;
$deault-english-font: "Roboto", "Helvetica", "Arial", sans-serif;
$job-card-border-color: #e9e5e5;
$pagination-border-color :#1976d2;
$scroll-color :#1976d2;