#worksContainer {

    margin-block-start: 24px;


}

#workDetails {
    background: $white;
    padding: 15px;
    font-family: $deault-english-font;
    border: 2px solid $job-card-border-color;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 11px 1px $job-card-border-color;

    p {
        margin-block-start: 8px;
        margin-block-end: 16px;
    }

    .Summary {
        margin-top: 12px;
        padding: 15px;
        border: 1px solid $job-card-border-color;

        #secondCol {
            border-left: 1px solid $job-card-border-color;
            padding: 0px;
            margin-block: 0px;
            margin-top: 13px;

            &:lang(ar) {
                border-right: 1px solid $job-card-border-color;
                border-left: none;
                padding-inline-start: 15px;

            }
        }

        .sumTitle {
            font-weight: 600;
            font-size: 0.9rem;
            text-transform: capitalize;
        }

        .sumVal {
            font-size: 0.8rem;
            position: relative;
            top: 2px;
        }
    }

    .social {
        @include flex-100-center;
        flex-flow: wrap;
        margin-block: 21px;
        row-gap: 15px;

        #apply {
            button {
                text-transform: capitalize;
                padding-inline: 46px;
                padding-block: 5px;
            }
        }

        .share {
            display: flex;
            align-items: center;
            gap: 9px;



            span {
                margin-inline-end: 10px;
            }
        }
    }
}

#workContent {
    padding-top: 0px;

    &:lang(ar) {
        padding-inline: 15px;
    }
}

.workTitle {
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 9px;
    flex-flow: wrap;
}

.time {
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 0.8rem;
}

.sectionTitle {
    font-weight: bold;
    margin-block-start: 15px;
    margin-block-end: 6px;
}

.tag {
    display: inline-block;
    background: $tags-background;
    border-radius: 1rem;
    padding: 8px 14px;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 100;
}

.divider {
    height: 2px;
    background: $job-card-border-color;
    margin-block: 16px;
}